body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:ivory;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1,h2{
    text-align: center;
    color:black;
}
form{
    margin-bottom: 20px;
    background:#fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
}

form div{
    margin-bottom: 10px;
}

label{
    display: inline-block;
    width: 100px;
}
input[type="text"], input[type="number"]{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button{
    display: inline-block;
    padding: 10px 20px;
   color:black;
   background-color:lavender;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button:hover{
    background-color:wheat;

}

ul{
    list-style:none;
    padding: 0;
}

ul li{
    background-color:papayawhip;
    padding:10px;
    margin-bottom: 10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px #fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
ul li button{
    margin-left: 10px;
}